In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv("data/nfl_team_stats_2002-2023.csv")

In [3]:
df1.head()

,season,week,date,away,home,score_away,score_home,first_downs_away,first_downs_home,third_down_comp_away,...,redzone_comp_home,redzone_att_home,fumbles_away,fumbles_home,interceptions_away,interceptions_home,def_st_td_away,def_st_td_home,possession_away,possession_home
0,2002,1,2002-09-05,49ers,Giants,16,13,13,21,4,...,0,6,0,0,1,3,0,0,27:32,32:28
1,2002,1,2002-09-08,Jets,Bills,37,31,18,26,2,...,0,8,1,1,0,2,2,0,21:06,39:08
2,2002,1,2002-09-08,Vikings,Bears,23,27,19,20,5,...,0,6,1,1,2,1,0,0,31:31,28:29
3,2002,1,2002-09-08,Chargers,Bengals,34,6,27,13,6,...,0,5,0,0,0,1,0,0,37:48,22:12
4,2002,1,2002-09-08,Chiefs,Browns,40,39,24,24,5,...,0,10,0,1,1,0,0,0,30:16,29:44

In [4]:
df1['score_diff'] = df1['score_home'] - df1['score_away']

In [5]:
df1['winner'] = (df1['score_home'] - df1['score_away']) > 0
df1['winner'] = df1['winner'].astype(int)

#### Exclude values in column 'week' that we dont want

In [16]:
# Define a list of values to exclude
exclude_values = ["Wildcard", "Division", "Conference", "Superbowl"]

In [17]:
# Filter the DataFrame to exclude rows with the specified values in the 'week' column
filter_week = df1[~df1['week'].isin(exclude_values)].copy()

# Use .loc to avoid SettingWithCopyWarning
filter_week.loc[:, 'week'] = filter_week['week'].str.strip()

In [36]:
filter_week.columns

Index(['season', 'week', 'date', 'away', 'home', 'score_away', 'score_home',
       'first_downs_away', 'first_downs_home', 'third_down_comp_away',
       'third_down_att_away', 'third_down_comp_home', 'third_down_att_home',
       'fourth_down_comp_away', 'fourth_down_att_away',
       'fourth_down_comp_home', 'fourth_down_att_home', 'plays_away',
       'plays_home', 'drives_away', 'drives_home', 'yards_away', 'yards_home',
       'pass_comp_away', 'pass_att_away', 'pass_yards_away', 'pass_comp_home',
       'pass_att_home', 'pass_yards_home', 'sacks_num_away',
       'sacks_yards_away', 'sacks_num_home', 'sacks_yards_home',
       'rush_att_away', 'rush_yards_away', 'rush_att_home', 'rush_yards_home',
       'pen_num_away', 'pen_yards_away', 'pen_num_home', 'pen_yards_home',
       'redzone_comp_away', 'redzone_att_away', 'redzone_comp_home',
       'redzone_att_home', 'fumbles_away', 'fumbles_home',
       'interceptions_away', 'interceptions_home', 'def_st_td_away',
       'def_st_td_home', 'possession_away', 'possession_home', 'score_diff',
       'winner'],
      dtype='object')

#### Third down conversion percentages

In [19]:
# Calculate the third down completion rate for the away team
df1['third_down_rate_away'] = np.nan_to_num(df1['third_down_comp_away'].astype(float) / df1['third_down_att_away'].astype(float) * 100, nan=0.0)
# Keep the completion and attempts columns for reference
df1['third_down_comp_away'] = df1['third_down_comp_away'].astype(int)
df1['third_down_att_away'] = df1['third_down_att_away'].astype(int)

In [20]:
df1['third_down_rate_home'] = np.nan_to_num(df1['third_down_comp_home'].astype(float) / df1['third_down_att_home'].astype(float) * 100, nan=0.0)
df1['third_down_comp_home'] = df1['third_down_comp_home'].astype(int)
df1['third_down_att_home'] = df1['third_down_att_home'].astype(int)

#### Fourth down conversion percentages

In [21]:
df1['fourth_down_rate_home'] = np.nan_to_num(df1['fourth_down_comp_home'].astype(float) / df1['fourth_down_att_home'].astype(float) * 100, nan=0.0)
df1['fourth_down_comp_home'] = df1['fourth_down_comp_home'].astype(int)
df1['fourth_down_att_home'] = df1['fourth_down_att_home'].astype(int)

In [22]:
df1['fourth_down_rate_away'] = np.nan_to_num(df1['fourth_down_comp_away'].astype(float) / df1['fourth_down_att_away'].astype(float) * 100, nan=0.0)
df1['fourth_down_comp_away'] = df1['fourth_down_comp_away'].astype(int)
df1['fourth_down_att_away'] = df1['fourth_down_att_away'].astype(int)

#### Pass completion percentages

In [23]:
#pass_comp_away, pass_att_away		
df1['pass_comps_home'] = np.nan_to_num(df1['pass_comp_home'].astype(float) / df1['pass_att_home'].astype(float) * 100, nan=0.0)
df1['pass_comp_home'] = df1['pass_comp_home'].astype(int)
df1['pass_att_home'] = df1['pass_att_home'].astype(int)

In [24]:
#pass_comp_away, pass_att_away		
df1['pass_comps_away'] = np.nan_to_num(df1['pass_comp_away'].astype(float) / df1['pass_att_away'].astype(float) * 100, nan=0.0)
df1['pass_comp_away'] = df1['pass_comp_away'].astype(int)
df1['pass_att_away'] = df1['pass_att_away'].astype(int)

#### Convert penalty yards per team

In [44]:
df1.columns

Index(['season', 'week', 'date', 'away', 'home', 'score_away', 'score_home',
       'first_downs_away', 'first_downs_home', 'third_down_comp_away',
       'third_down_att_away', 'third_down_comp_home', 'third_down_att_home',
       'fourth_down_comp_away', 'fourth_down_att_away',
       'fourth_down_comp_home', 'fourth_down_att_home', 'plays_away',
       'plays_home', 'drives_away', 'drives_home', 'yards_away', 'yards_home',
       'pass_comp_away', 'pass_att_away', 'pass_yards_away', 'pass_comp_home',
       'pass_att_home', 'pass_yards_home', 'sacks_num_away',
       'sacks_yards_away', 'sacks_num_home', 'sacks_yards_home',
       'rush_att_away', 'rush_yards_away', 'rush_att_home', 'rush_yards_home',
       'pen_num_away', 'pen_yards_away', 'pen_num_home', 'pen_yards_home',
       'redzone_comp_away', 'redzone_att_away', 'redzone_comp_home',
       'redzone_att_home', 'fumbles_away', 'fumbles_home',
       'interceptions_away', 'interceptions_home', 'def_st_td_away',
       'def_st_td_home', 'possession_away', 'possession_home', 'score_diff',
       'winner', 'third_down_rate_away', 'third_down_rate_home',
       'fourth_down_rate_home', 'fourth_down_rate_away', 'pass_comps_home',
       'pass_comps_away'],
      dtype='object')

In [47]:
# Ensure missing values are handled before splitting
df1['possession_away'] = df1['possession_away'].fillna('0:00')

# Split the string into minutes and seconds
possession_away = df1['possession_away'].str.split(':', expand=True)

# Convert minutes and seconds to numeric and calculate total seconds
df1['possession_away_seconds'] = (
    pd.to_numeric(possession_away[0], errors='coerce').fillna(0) * 60 +  # Convert minutes to seconds
    pd.to_numeric(possession_away[1], errors='coerce').fillna(0)  # Add seconds
)

In [49]:
# Ensure missing values are handled before splitting
df1['possession_home'] = df1['possession_home'].fillna('0:00')

# Split the string into minutes and seconds
possession_away = df1['possession_home'].str.split(':', expand=True)

# Convert minutes and seconds to numeric and calculate total seconds
df1['possession_home_seconds'] = (
    pd.to_numeric(possession_away[0], errors='coerce').fillna(0) * 60 +  # Convert minutes to seconds
    pd.to_numeric(possession_away[1], errors='coerce').fillna(0)  # Add seconds
)

In [51]:
df1.head()

,season,week,date,away,home,score_away,score_home,first_downs_away,first_downs_home,third_down_comp_away,...,score_diff,winner,third_down_rate_away,third_down_rate_home,fourth_down_rate_home,fourth_down_rate_away,pass_comps_home,pass_comps_away,possession_away_seconds,possession_home_seconds
0,2002,1,2002-09-05,49ers,Giants,16,13,13,21,4,...,-3,0,33.333333,56.250000,0.0,0.0,62.222222,61.538462,1652,1948
1,2002,1,2002-09-08,Jets,Bills,37,31,18,26,2,...,-6,0,25.000000,41.176471,100.0,0.0,66.666667,80.000000,1266,2348
2,2002,1,2002-09-08,Vikings,Bears,23,27,19,20,5,...,4,1,38.461538,53.846154,0.0,0.0,60.606061,57.142857,1891,1709
3,2002,1,2002-09-08,Chargers,Bengals,34,6,27,13,6,...,-28,0,60.000000,36.363636,0.0,0.0,58.064516,78.947368,2268,1332
4,2002,1,2002-09-08,Chiefs,Browns,40,39,24,24,5,...,-1,0,45.454545,36.363636,0.0,0.0,70.000000,68.965517,1816,1784